extends layout

block content
  div(class='card mb-4')
    table(class='table text-center m-0')
      thead.thead-dark
        tr
          th(scope='col')='Date'
          th(scope='col')='Route'
          th(scope='col')='Status'
      tbody
        for data in history
          tr
            for item in data
              td=item